body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Tahoma';
}
/*Sign_style open*/
#container-sign_In{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid grey;
    margin: auto;
    margin-top: 18%;
}
#form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
#form  div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}
#form div input{
    border: none;
    border-bottom: 1px solid  grey;
    margin-left: 10px;
    outline: none;
}
.link{
    text-decoration: none;
    background: rgba(0, 0, 255, 0.588);
    color: white;
    padding: 8px;
    border-radius: 20px;
    border: none;
}
.link:hover{
    background: blue;
}
/*End of the style for sign_In*/

/*Open section Portfolio dashboard style*/
#header-portfolio{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px;
    height: 80px;
    box-shadow: 0px 0px 6px gray;
    background: rgba(128, 128, 128, 0.136);
}
#menu{
    visibility: hidden;   
}
#myprofile{
    margin-left: 3%;
}
.container-Info-Dev,a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
}
.container-Info-Dev h2{
    color: #0004ffc4;
    width: 25%;
}
.container-contact{
    width: 15%;
}
#contact-section{
    background: fixed;
    width: 50%;
}
.container-contact img{
    height: 20px;
    width: 20px;
    margin: 4px;
}
.Info-Dev{
    font-size: 20px;
    margin: 6%;
}
.Info-Dev:hover{
    color: #0003ff;
    border-bottom: 1px solid #0003ff;
}
#image-eust{
    margin: 8px;
    border-radius: 50%;
    height: 55px;
    width: 58px;
}
#watsapp{
    background: #008000b5;
    padding: 8px;
    color: white;
    border-radius: 20px;
    margin-left: 70%;
}
#profil-container{
   width: 55%;
   display: flex;
   flex-direction: row;
}

#Profil-photo{
    height: 500px;
    width: 400px;
    margin: 20px;
    border-radius: 30px;
}
#biography{
    font-size: 90px;
    text-align: start;
    font-family: 'Tahoma';
}
#profil{
    position: relative;
}
#profil .title{
    position: absolute;
    margin-left: 20px;
    font-size: 40px;
    margin-top: -60px;
}
/*Portable*/
@media only screen and (max-width: 480px){
    /* For mobile phones: */
    #container-sign_In{
        position: fixed;
        width: 90%;
        border-radius: 20px;
        border: 1px solid grey;
        margin: auto;
        margin-top: 50%;
        margin-left: 5%;
    }
    #menu{
        visibility: visible;
    }
    #form div input{
        width: 55%;
        border: none;
        border-bottom: 1px solid  rgba(128, 128, 128, 0.559);
        margin-left: 12%;
        outline: none;
    }
    #header-portfolio{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: start;
        margin-left: -25%;
        box-shadow: none;
        background-color: white;
        position: relative;
    }
    #myprofile{
        display: flex;
        flex-direction: row;
        gap: 35px;
        margin-left: 35%;
    }
    #watsapp{
        background: #008000b5;
        padding: 8px;
        color: white;
        border-radius: 20px;
        /* margin-left: 35px; */
        margin-top: 15px;
    }
    .container-Info-Dev h2{
        color: #0004ffc4;
        font-size: 20px;
        font: bold;
    }
    #contact-section{
        visibility: hidden;
        background-color: gainsboro;
        width: 320px;
        height: 35px;
        position: absolute;
        left: 15%;
        margin-top: 18%;
        margin-left: 12%;
        border-radius: 20px;
       
    }
    .Info-Dev{
        margin: 15px;
        font-size: 15px;
    }
    .container-Info-Dev,a{
        align-items: center;
        text-decoration: none;
        color: black;
        margin: 0px;
    }
    .container-contact{
        font-size: 15px;
    }
    .container-contact img{
        height: 20px;
        width: 20px;
        margin: 4px;
    }
    /* . */
    #profil-container{
       width: 55%;
       display: flex;
       flex-direction: row;
    }
    
    #Profil-photo{
        height: 200px;
        width: 150px;
        margin: 20px;
        border-radius: 30px;
    }
    #biography{
        font-size: 35px;
        text-align: start;
        font-family: 'Tahoma';
    }
    #profil{
        position: relative;
        margin-top: 6%;
    }
    #profil .title{
        position: absolute;
        margin-left: 20px;
        font-size: 20px;
        margin-top: -15px;
    }
}